.present h2 {
    text-transform: none;
}

.presenter {
    bottom: 2rem;
    color: white;
    display: block;
    font-family: "Open Sans", sans-serif;
    font-size: 1.1em;
    left: 45%;
    position: absolute;
    z-index: 20;
}

.has-light-background+.presenter {
    color: black;
  }

.language-javascript {
    font-size: 60%;
}

.language-typescript {
    font-size: 60%;
}
